dotenv

export_function() {
  local name=$1
  local alias_dir=$PWD/.direnv/aliases
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  local target="$alias_dir/$name"
  if declare -f "$name" >/dev/null; then
    echo "#!/usr/bin/env bash" > "$target"
    declare -f "$name" >> "$target" 2>/dev/null
    echo "$name" >> "$target"
    chmod +x "$target"
  fi  
}
climy() {
    mycli mysql://root:root@127.0.0.1:33333/trade
}
clipg() {
    pgcli postgres://root:root@127.0.0.1:55555/trade
}
export_function climy
export_function clipg
