# https://usercenter.console.aliyun.com/#/manage/ak
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=

OSS_BUCKET_NAME=
OSS_ENDPOINT=oss-cn-hongkong.aliyuncs.com
OSS_ARN=acs:ram::1250747110400259:role/rethink-backend

OSS_CALLBACK_URL=https://example.com/debug
