cryptography==2.3.1 --no-binary cryptography
wechatpy==1.7.0
django<2
djangorestframework<4
PyJWT==1.6.4
mysqlclient<2
dj-database-url==0.4.2
django-hvad<2
django-filter<2
django-redis<5
#django-crontab==0.7.1
#whitenoise<4
requests<3
python-decouple==3.1
pytz==2018.4
gunicorn==19.7.1
#celery==4.0.2
pycurl==7.43.0.1
django-cors-headers==2.4.0
qiniu==7.2.2
sentry_sdk==0.5.5
git+https://github.com/zeroleo12345/myclog-python.git
